In [3]:
time_data_path = 'test2/trainiter1_core1_timedata_df.pkl'

In [4]:
import pickle
with open(time_data_path,'rb') as f:
    data = pickle.load(f)
data

             0                               1                       \
       nn_time splt_time total_time    nn_time splt_time total_time
0    15.703650  1.951955  17.795249  22.216504  1.145983  23.501523
1    13.963973  1.272875  15.530435  22.320387  2.455931  25.005371
2    14.409981  1.235345  15.792369  22.155019  1.686005  23.977955
3    14.184350  1.571288  15.875023  22.201773  1.494207  23.917001
4    17.451194  2.041825  19.631322  24.421166  1.348690  25.933236
..         ...       ...        ...        ...       ...        ...
135        NaN       NaN        NaN        NaN       NaN        NaN
136        NaN       NaN        NaN        NaN       NaN        NaN
137        NaN       NaN        NaN        NaN       NaN        NaN
138        NaN       NaN        NaN        NaN       NaN        NaN
139        NaN       NaN        NaN        NaN       NaN        NaN

             2                               3                       \
       nn_time splt_time total_time    nn_time splt_time total_time
0    26.449950  1.958705  28.561697  27.116206  1.163495  28.404234
1    23.268592  1.455716  24.931300  25.984968  1.419949  27.555484
2    25.292634  1.803354  27.267440  25.624868  1.314163  27.120861
3    26.728777  2.763071  29.675510  27.210470  1.666352  29.056656
4    27.116588  2.469150  29.824099  26.664594  3.070736  29.899304
..         ...       ...        ...        ...       ...        ...
135  23.608643  0.674545  24.325088        NaN       NaN        NaN
136  24.387365  0.393886  24.807491        NaN       NaN        NaN
137  25.158846  0.293356  25.501469        NaN       NaN        NaN
138  25.241893  0.147799  25.413853        NaN       NaN        NaN
139  25.444222  0.149691  25.628397        NaN       NaN        NaN

             4                               5
       nn_time splt_time total_time    nn_time splt_time total_time
0    24.546191  1.423875  26.100966  23.662463  1.287085  25.053257
1    24.848068  1.201187  26.173952  24.566599  1.910385  26.688506
2    25.579618  1.563550  27.307370  26.179715  1.822101  28.162435
3    21.905839  1.572227  23.640636  24.689584  2.107780  26.959073
4    23.180419  1.617849  24.958419  23.570436  2.408839  26.149797
..         ...       ...        ...        ...       ...        ...
135        NaN       NaN        NaN        NaN       NaN        NaN
136        NaN       NaN        NaN        NaN       NaN        NaN
137        NaN       NaN        NaN        NaN       NaN        NaN
138        NaN       NaN        NaN        NaN       NaN        NaN
139        NaN       NaN        NaN        NaN       NaN        NaN

[140 rows x 18 columns]

In [17]:
for time in data.loc[:,(2,'nn_time')]:
    print(time)

26.449950456619263
23.26859188079834
25.2926344871521
26.728777408599854
27.11658763885498
27.627262592315674
24.037970066070557
27.08260726928711
27.93965244293213
25.52139139175415
22.591294288635254
27.205326795578003
28.302637815475464
25.701781272888184
27.83588457107544
24.29781699180603
23.299476861953735
26.211263179779053
26.67829966545105
28.493574380874634
25.498169422149658
27.089934825897217
24.4141948223114
31.5201632976532
1827.7379212379456
29.64519739151001
4276.994772434235
7223.189567565918
33.15148615837097
27.14334535598755
24.091932773590088
4054.7097265720367
26.654274463653564
23.590553283691406
23.703826427459717
25.245875120162964
23.899828910827637
23.96024227142334
26.923136949539185
27.092569589614868
31.758490324020386
25.22814679145813
23.81332278251648
22.38403296470642
25.041165828704834
22.569066762924194
24.673216819763184
22.72298240661621
22.85579490661621
24.27853488922119
26.251635313034058
22.366502285003662
22.04752016067505
21.723580360412598
21.685657739639282
23.241495609283447
19.687855005264282
19.933711767196655
20.554399728775024
21.23343849182129
21.235714197158813
19.810508012771606
20.262914896011353
21.274347066879272
20.76409387588501
19.37099266052246
18.097190380096436
19.205129623413086
18.909647464752197
18.944333791732788
17.52819323539734
18.94533395767212
20.232184171676636
20.6158766746521
22.300519943237305
21.291983127593994
22.025545597076416
22.762932777404785
21.618404865264893
21.3008975982666
21.29327082633972
22.953399658203125
22.092161893844604
24.72801184654236
21.37553882598877
24.674273014068604
23.403615713119507
24.56268286705017
21.683016061782837
20.74105930328369
20.136622428894043
20.904657125473022
19.97735333442688
19.769036769866943
20.189177989959717
20.766443014144897
20.669201374053955
20.373998403549194
21.844691514968872
20.687851667404175
22.590354442596436
20.876606702804565
22.505280256271362
21.43935799598694
26.477986574172974
22.13932728767395
22.35399031639099
22.115789890289307
22.096261501312256
22.812145233154297
23.456023931503296
22.42345643043518
24.24886155128479
24.444364309310913
23.450531244277954
26.107991695404053
26.085201025009155
25.731534719467163
25.216596603393555
26.687033891677856
22.584119081497192
23.429867029190063
23.79011368751526
22.801624536514282
24.295341730117798
22.02670383453369
23.67890691757202
23.95545768737793
24.021043062210083
23.979523420333862
22.261039972305298
25.172189712524414
24.63049840927124
23.34783148765564
24.737576961517334
23.608643293380737
24.387365341186523
25.158846378326416
25.24189257621765
25.44422197341919

          0                              1
    nn_time splt_time total_time   nn_time splt_time total_time
0  2.661600  0.925228   3.654996  2.343057  0.911836   3.323704
1  2.489342  1.123107   3.686990  2.437459  1.012414   3.522388
2  2.386707  1.553742   4.041396  2.406495  1.204895   3.691343
3  2.384886  1.412310   3.885861  2.480726  1.466453   4.071134
4  2.337364  1.172328   3.586086  2.355371  1.084248   3.513781
5  2.555046  1.322664   3.957729  2.469864  1.390916   3.943061