In [23]:
import pandas as pd
splits = range(2,5)
d1 = {'nn_time':[.5,.5,.5],'splt_time':[1,1,.5]}
d1 = pd.DataFrame(data=d1)
d2 = {'nn_time':[.5,1],'splt_time':[2,1]}
d2 = pd.DataFrame(data=d2)
g1 = 'game1'
df_dict = {g1:d1,'game2':d2}
fdf = pd.concat(df_dict,axis=1)
fdf

    game1             game2
  nn_time splt_time nn_time splt_time
0     0.5       1.0     0.5       2.0
1     0.5       1.0     1.0       1.0
2     0.5       0.5     NaN       NaN

In [20]:
fdf['game1']['nn_time']

0    0.5
1    0.5
2    0.5
Name: nn_time, dtype: float64

In [1]:
import pickle
with open('run/core0_timedata_df.pkl','rb') as f:
    data = pickle.load(f)

In [2]:
data

          0                              1
    nn_time splt_time total_time   nn_time splt_time total_time
0  2.661600  0.925228   3.654996  2.343057  0.911836   3.323704
1  2.489342  1.123107   3.686990  2.437459  1.012414   3.522388
2  2.386707  1.553742   4.041396  2.406495  1.204895   3.691343
3  2.384886  1.412310   3.885861  2.480726  1.466453   4.071134
4  2.337364  1.172328   3.586086  2.355371  1.084248   3.513781
5  2.555046  1.322664   3.957729  2.469864  1.390916   3.943061